:root{
  
  --color-titulos: #bef720; 
  --color-texto: #A6A39F; 
  --color-boton: #242424; 
  --color-texto-boton: #A6A39F;
  --color-borde-tarjetas: #F2F2F0;
  --color-lista-par: #403D38;
  --color-lista-texto-par: #F2F2F0;
  --color-lista-impar: #242424;
  --color-lista-texto-impar: #ffffff;
  --color-fondo:white; /* Gris oscuro */
  --color-enlaces_menu: #011204;
  --color-enlaces_general: #F2F2F0;
  --color-pata: #242424; /* Dorado */
  --color-texto-pata: white;
  --color-sombra: #F2F2F0;
  --color-fecha: #242424;
  --color-fondo-destacado: #F2F2F0;
  --color-destacado: #242424;
  --color-home:#090A0A;
  --color-frase:#DDED63;
  --color-fondo-cine:#090A0A;
  --color-fondo-menu:#b6cb15;
}
#cine{
  background-color: var(--color-fondo-cine);
}
#home,#deportes{
  background-color: var(--color-home);
}
body,html{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}
ul {
  padding: 0;
}
h1,h2{
  color: var(--color-titulos);
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
h1{
  font-weight: 900;
  font-size: 22px;
}
h2{
  font-weight: 700;
  font-size: 18px;
}
.mensaje_importante{
  font-weight: 400;
  font-size: 16px;
  color:var(--color-destacado);
}
section{
  padding: 20px;
  margin-bottom: 60px;
}
.item {
  list-style-type: none;
  font-weight: 400;
  height: auto;
  line-height: 50px;
  padding-left: 30px;
}
.item span:nth-child(2){
  line-height: 23px; /* Titulo de la actividad */
  margin-left: 20px;
  display: block;
}
.item:nth-child(even) {
  background: var(--color-lista-par);
  color: var(--color-lista-texto-par);
}
.item:nth-child(odd) {
  background:var(--color-lista-impar);
  color: var(--color-lista-texto-impar);
}
.item span {
  font-size: 18px;
  font-weight: 500;
}
.speaker {
  font-weight: normal;
}
a {
  color:var(--color-enlaces_general);
}
a.autor{
  color:var(--color-fondo);
  text-decoration: underline;
  margin-top: 10px;
  font-size: 16px;
}
div {
  width: 100%;
  text-align: center;
}
.foto{
  width: 20%;
}
.frase{
  width:70%;
  margin:60px auto;
  font-size: 24pt;
  text-align: center;
  color:var(--color-frase);
}
.logo_principal {
  width: 90%;
  max-width: 682px;
  /*margin: 20px;*/
}
#btn_registro{
  display: block;
  text-decoration: none;
  color: var(--color-texto-boton);
  background: var(--color-boton);
  padding: 12px 60px;
  width:80%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  margin:0 auto;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px  var(--color-sombra);
}
#btn_registro:hover{
  background: var(--color-texto-boton);
  color: var(--color-boton);
}
#speakers section{
  display: flex;
  justify-content: space-around;
}
.tarjeta_speaker{
  width: 200px;
  border: 1px solid var(--color-borde-tarjetas);
  border-radius: 10px;
  padding: 20px;
  margin-right: 15px;
}
.tarjeta_speaker ul{
  text-align: left;
  font-size: 14px;
  margin-left: 20px;
}
.nombre_tarjeta{
  font-weight: 600;
  font-size: 14px;
  color:var(--color-primario);
}
.fecha{
  color: var(--color-texto);
  font-weight: 600;
}
.descripcion{
  text-align: left;
  font-size: 14px;
  letter-spacing: -.5px;
}
.avatar{
  border:1px solid var(--color-terciario);
  border-radius: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.speaker_1{
  background-image: url(../img/01_speaker.jpg);
}
.speaker_2{
  background-image: url(../img/02_speaker.jpg);
}
.speaker_3{
  background-image: url(../img/03_speaker.jpg);
}
.enlace{
  text-decoration: none;
}
#sponsors{
  width: 100%;
  background-color: var(--color-pata);
  margin:0;
  height: auto;
  padding-bottom: 30px;
}
#sponsors h2{
  margin-left: 20px;
  padding-top:30px;
  color:var(--color-texto-pata);
}
.enlace_sponsor{
  margin-right: 10px;
  text-decoration: none;
}
#agenda li:first-child{
  border-radius: 20px 20px 0 0;
}
#agenda li:last-child{
  border-radius: 0 0 20px 20px;
}
.lista_generica{
  margin-left: 40px;
}
.lista_generica a{
  color:var(--color-lista-impar);
}
.torneos{
  text-align: center;
  margin:0 auto;
  width: 800px;
  height: 900px;
  padding-bottom: 20px;
  display: none;
}
.torneos section{
  display: inline-block;
  border-radius:10px;
  border:1px solid var(--color-terciario);
  height: 320px;
  vertical-align: top;
}
.anuncio{
  text-align: left;
  margin:30px;
}
.destacado{
  width: 70%;
  margin:0 auto;
  text-align: left;
  margin-bottom: 60px;
  background: var(--color-fondo-destacado);
  border-radius: 10px;
  padding: 40px;
}
.imagen_evento{
  display: block;
  margin: 0 auto;
}
.menu{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--color-fondo-menu);
  border-radius: 20px;
}
.menu .seleccion{
  background: white;
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  width: 8vw;
  text-align: center;
  border-radius: 6px;
}
.menu a{
  color:var(--color-enlaces_menu);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}
.menu a:hover{
  text-decoration: underline;
}
.seccion{
  width: 80%;
  margin: 20px auto;
}
iframe .teQAzf{
  background-color: white;
}
/* Celuar Pro Max */
@media (min-width: 421px) and (max-width:500px) {
  .tarjeta_speaker{
    width: 320px;
    margin-bottom: 20px;
    text-align: center;
    margin: 10px auto;
  }
  .descripcion{
    text-align: left;
  }
  .avatar{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  .enlace_sponsor{
    display: block;
  }
  #speakers section{
    display: flex;
    flex-direction: column;
  }
  .menu .seleccion{width: 20vw;}
}
/*Celular*/
@media (max-width: 420px)  {
  .torneos{
    width: 300px;
    height: auto;
    padding-bottom: 10px;
  }
  .anuncio{
    width: 300px;
  }
  li {
    height: auto;
    padding: 2px 10px;
    line-height: 30px;
  }
  li > span {
    display: block;
  }
  .speaker {
    font-weight: 500;
    display: block;
  }
  #speakers section{
    flex-direction: column;
    margin: 0 auto;
  }
  .tarjeta_speaker{
    margin-bottom: 20px;
  }
  .enlace_sponsor{
    height: 20%;
  }
  .avatar{
    margin: 0 auto;
  }
  #sponsors img{
    /*width: 100px;*/
  }
  .tarjeta_speaker{
    width: 250px;
    margin:10px auto;
  }
  .menu .seleccion{width: 20vw;}
}
/*Tablet*/
@media (min-width: 501px) and (max-width:810px) {
  .enlace_sponsor{
    width: 100%;
  }
  .anuncio{
    width: 700px;
    margin: 0 auto;
  }
  .menu .seleccion{width: 12vw;}
}
/*Escritorio*/
@media (min-width: 811px){
  .avatar{
  
  }
  .tarjeta_speaker{
    width: 850px;
    margin: 50px auto;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
  }
  #speakers section{
    flex-direction: column;
  }
  .descripcion{
    width: 300px;
    margin-left: 20px;
  }
  .vertical_escritorio{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .redes{
    width: 100px;
  }
  .nombre_tarjeta{
    font-size: 23px;
    width: 130px;
    text-align: left;
    margin-left: 20px;
  }
  .egreso{
    width: 120px;
  }
}