/*Tablet*/
@media (min-width: 501px) and (max-width:810px) {
    
    .avatar{
        display: inline-block;
        margin:0 auto;
    }
    .enlace_sponsor{
        width: 100%;
    }
    .anuncio{
        width: 700px;
        margin: 0 auto;
    }
    .menu .seleccion{
        width: 12vw;
    }
    .imagen_intro_evento{
        width: 90%;
    }    
    #speakers section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }
    .tarjeta_speaker{
        width: 80%;
        margin: 12px auto;
    }
}